<!DOCTYPE html>
<html>
<head>
    <title>YouTube Downloader</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <h1 class="heading">YouTube Downloader</h1>
    <input class="URL-input" placeholder=" Copy Video URL And Paste It Here  e.g. https://www.youtube.com/">
    <button class="convert-button"> Download</button>

    <p>{{result}} </p>
<script src="/js/app.js" >

</script>
</body>
</html>
